body{
  
    text-align: center;
}
a{
    font-size: 20px;
    
}
h1{
    display: inline-block;
    margin: 10px 10px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 10px;
}
button{
    width: 100px;
    border-radius: 20px;
    border-color: floralwhite;
    background-color:  #000000;
   color:#ffffff;
    font-weight: bold;
}

div{
    margin-top: 20px;
}

@media only screen and (max-width:600px){
    div{
        width: 400px;
    }
}
@media only screen and (max-width:400px){
  div{
      width: 200px;
  }
}
@media only screen and (max-width:200px){
    div{
        width: 100px;
    }
}
@media only screen and (max-width:100px){
    div{
        width: 100px;
    }
}


